:root{
  --bg:#3d0652;
  --sidebar:#f1e208;
  --radius:12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto;
}

body{
  margin:0;
  background: var(--bg);
  color:white;
  display:flex;
}

/* SIDEBAR */
.sidebar{
  width:240px;
  background:var(--sidebar);
  color:black;
  padding:20px 0;
  display:flex;
  flex-direction:column;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  overflow:hidden;
  transition:width .4s ease;
  border-right:4px solid black;
}
.sidebar.collapsed{
  width:58px;
}
.sidebar .logo{
  font-size:22px;
  font-weight:700;
  padding-left:20px;
  margin-bottom:10px;
  display:flex;
  align-items:center;
  cursor:pointer;
  white-space:nowrap;
  color:black;
}
.menu-items{
  display:flex;
  flex-direction:column;
  gap:14px;
  padding-top:10px;
  padding-bottom:20px;
  transition:opacity .4s ease;
}
.menu-items.hidden{
  opacity:0;
  pointer-events:none;
}
.sidebar a, .sidebar button{
  width:100%;
  padding:12px 20px;
  font-size:15px;
  color:black;
  text-decoration:none;
  background:none;
  border:none;
  text-align:left;
  cursor:pointer;
  font-weight:600;
  transition:0.3s;
}
.sidebar a:hover, .sidebar button:hover{
  background:rgb(83, 0, 79);
  color:var(--sidebar);
}
.dropdown-content{
  display:none;
  flex-direction:column;
  background:#d8b000;
}
.dropdown-content a{
  padding-left:40px;
}
.dropdown:hover .dropdown-content{
  display:flex;
}

/* CONTENIDO */
.container{
  margin-left:260px;
  padding:24px;
  width:calc(100% - 260px);
  transition:margin-left .4s ease, width .4s ease;
  color:white;
  
}
.sidebar.collapsed + .container{
  margin-left:80px;
  width:calc(100% - 80px);
}
h2{
  margin-top:20px;
  font-size:28px;
  color:white;
  text-shadow:2px 2px 5px black;
  text-align:center;
}

/* CARRUSEL */
.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}

.carousel-container {
  overflow: hidden;
  border-radius: 10px;
}

.carousel-slide {
  display: flex;
  gap: 15px;
  transition: transform 0.4s ease-in-out;
}


.movie-container {
  position: relative;
  width: 170px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: none;
}


.movie-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.movie-container:hover .overlay {
  opacity: 1;
}

/* FLECHAS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.4em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
}

.arrow-left { left: -60px; }
.arrow-right { right: -60px; }
