    :root{
      --bg:#3d0652;           
      --sidebar:#f1e208;      
      --radius:12px;
      font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto;
    }

    body{
      margin:0;
      background: var(--bg);
      color:white;
      display:flex;
    }

    /* SIDEBAR */
    .sidebar{
      width:240px;
      background:var(--sidebar);
      color:black;
      padding:20px 0;
      display:flex;
      flex-direction:column;
      position:fixed;
      top:0;
      bottom:0;
      left:0;
      overflow:hidden;
      transition:width .4s ease;
      border-right:4px solid black;
    }

    .sidebar.collapsed{
      width:58px;
    }

    .sidebar .logo{
      font-size:22px;
      font-weight:700;
      padding-left:20px;
      margin-bottom:10px;
      display:flex;
      align-items:center;
      cursor:pointer;
      white-space:nowrap;
      color:black;
    }

    .menu-items{
      display:flex;
      flex-direction:column;
      gap:14px;
      padding-top:10px;
      padding-bottom:20px;
      transition:opacity .4s ease;
    }

    .menu-items.hidden{
      opacity:0;
      pointer-events:none;
    }

    .sidebar a, .sidebar button{
      width:100%;
      padding:12px 20px;
      font-size:15px;
      color:black;
      text-decoration:none;
      background:none;
      border:none;
      text-align:left;
      cursor:pointer;
      font-weight:600;
      transition:0.3s;
    }

    .sidebar a:hover,
    .sidebar button:hover{
      background:rgb(83, 0, 79);
      color:var(--sidebar);
    }

    .dropdown-content{
      display:none;
      flex-direction:column;
      background:#d8b000;
    }

    .dropdown-content a{
      padding-left:40px;
    }

    .dropdown:hover .dropdown-content{
      display:flex;
    }

    /* CONTENIDO */
    .container{
      margin-left:260px;
      padding:24px;
      width:calc(100% - 260px);
      transition:margin-left .4s ease, width .4s ease;
      color:white;
    
    }

    .sidebar.collapsed + .container{
      margin-left:80px;
      width:calc(100% - 80px);
    }

    h2{
      margin-top:20px;
      font-size:28px;
      color:white;
      text-shadow:2px 2px 5px black;
      text-align:center;
    }

    p{
      text-align:center;
      font-size:18px;
      margin-top:10px;
    }

    /* PELICULAS */
    .pelicula-card{
      background:#4b0a63;
      padding:16px;
      border-radius:12px;
      margin-top:25px;
      display:flex;
      gap:16px;
      border:2px solid black;
      box-shadow:0 0 10px black;
    }

    .pelicula-card img{
      width:150px;
      height:220px;
      object-fit:cover;
      border-radius:10px;
      border:2px solid #f1e208;
    }

    .info{
      flex:1;
    }

    .info h3{
      margin:0;
      font-size:22px;
      color:#f1e208;
    }

    .info p{
      text-align:left;
      margin:6px 0;
    }

    .titulo-botones{
      font-size:17px;
      font-weight:bold;
      margin-top:10px;
      color:#f1e208;
    }

    .botones-h{
      display:flex;
      gap:10px;
      margin-top:6px;
    }

    .botones-h button{
      padding:6px 10px;
      background:#f1e208;
      border:none;
      color:black;
      font-weight:bold;
      border-radius:6px;
      cursor:pointer;
      border:2px solid black;
      font-size:14px;
    }

    .botones-h button:hover{
      background:white;
    }

    .trailer-btn{
      margin-top:10px;
      padding:8px 14px;
      background:red;
      border:none;
      color:white;
      cursor:pointer;
      font-weight:bold;
      border-radius:6px;
      border:2px solid black;
    }

    .trailer-btn:hover{
      background:darkred;
    }

    :root{
        --morado:#3d0652;
        --dorado:#f1e208;
        --gris:#cccccc;
    }


    .calendar-container{
        width:320px;
        margin:auto;
        text-align:center;
    }

    #monthButton{
        display:block;
        width:100%;
        background:none;
        border:none;
        font-size:22px;
        font-weight:bold;
        color:white;
        margin-bottom:15px;
        cursor:pointer;
        text-transform:uppercase;
    }

    .week{
        display:flex;
        gap:5px;
        margin-bottom:20px;
    }

    .day{
        flex:1;
        padding:10px 0;
        background:#555;
        color:white;
        border-radius:8px;
        cursor:pointer;
        transition:0.2s;
        font-weight:bold;
    }

    .day.selected{
        background:var(--dorado);
        color:black;
    }

    .mini-calendar{
        background:var(--morado);
        padding:15px;
        border-radius:12px;
        color:var(--dorado);
        display:none;
    }

    .mini-header{
        display:flex;
        justify-content:space-between;
        align-items:center;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
    }

    .mini-header button{
        background:none;
        border:none;
        font-size:20px;
        color:var(--dorado);
        cursor:pointer;
    }

    .calendar-grid{
        display:grid;
        grid-template-columns:repeat(7, 1fr);
        gap:5px;
    }

    .calendar-grid div{
        padding:8px 0;
        border-radius:6px;
        cursor:pointer;
    }

    .calendar-grid div:not(.disabled):hover{
        background:#633080;
    }

    .selected-day{
        background:var(--dorado) !important;
        color:black !important;
    }

    .disabled{
        opacity:0.3;
        pointer-events:none;
    }